<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xsi:schemaLocation="  
 http://www.springframework.org/schema/beans  
 http://www.springframework.org/schema/beans/spring-beans.xsd  
 http://www.springframework.org/schema/context  
 http://www.springframework.org/schema/context/spring-context.xsd  
 http://www.springframework.org/schema/mvc  
 http://www.springframework.org/schema/mvc/spring-mvc.xsd  
 ">  
     
      
       <!-- 启用spring mvc 注解 <context:annotation-config />-->  
    <mvc:annotation-driven  >
        <mvc:message-converters>  
            <bean class="org.springframework.http.converter.StringHttpMessageConverter" />  
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />  
        </mvc:message-converters>  
        </mvc:annotation-driven>
 
   
 
    <!-- 设置使用注解的类所在的jar包 -->  
    <context:component-scan base-package="com"/>  
       
<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"></bean>  
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"></bean>
         <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">       
         <property name="exceptionMappings">       
             <props>       
                  <prop key="java.lang.Exception">error</prop>       
                  <prop key="java.lang.Throwable">error</prop>       
             </props>       
         </property>       
         <property name="statusCodes">       
              <props>       
                  <prop key="error">500</prop>       
                  <prop key="error">404</prop>       
              </props>       
         </property>       
          <!-- 设置日志输出级别，不定义则默认不输出警告等错误日志信息 -->       
          <property name="warnLogCategory" value="WARN"></property>       
          <!-- 默认错误页面，当找不到上面mappings中指定的异常对应视图时，使用本默认配置 -->       
          <property name="defaultErrorView" value="error"></property>       
          <!-- 默认HTTP状态码 -->       
          <property name="defaultStatusCode" value="500"></property>       
      </bean>      
      <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="defaultEncoding" value="utf-8"></property>   
        <property name="maxUploadSize" value="10485760000"></property>  
        <property name="maxInMemorySize" value="40960"></property>  
   </bean>  
      
     <!-- 定义跳转的文件的前后缀 ViewResolver  --> 
	<bean  
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="viewClass"  
            value="org.springframework.web.servlet.view.JstlView" />  
        <property name="prefix" value="/view/" />  
        <property name="suffix" value=".jsp" />  
    </bean>  
     <mvc:default-servlet-handler/>      
</beans>  